.wrapper {
    display: flex;
    position: relative;
    flex-grow: 1;
    /* justify-content: space-around; */
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    /* height: max-content; */
    flex-direction: column;
    height: 700px;
    align-content: space-between;
}

.width {
    width: 20%;
}

.button {
    background-color: #21ba45;
    color: #fff;
    text-shadow: none;
    background-image: none;
}

.input {
    margin: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    text-align: left;
    line-height: 1.21428571em;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    padding: .67857143em 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.15);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
    -webkit-transition: border-color .1s ease,-webkit-box-shadow .1s ease;
    transition: border-color .1s ease,-webkit-box-shadow .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease;
    transition: box-shadow .1s ease,border-color .1s ease,-webkit-box-shadow .1s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
}